{
  "presets": ["expo"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "react-native-image-magnifier": "..",
          "react-native-vector-icons": "@expo/vector-icons"
        }
      }
    ]
  ]
}
